<form id="login" method="post">
  <input type="email" name="email" placeholder="Tu correo">
  <br><br>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br><br>
  <input type="submit" value="login">
</form>
<script type="text/javascript">
  const formLogin = document.querySelector('#login')
  const formData = new FormData(formLogin)

  formLogin.addEventListener('submit',event => {
    event.preventDefault()
    fetch('/api/signin',{
      method:'POST',
      body:formData
    })
    .then(res => res.json())
    .then(data => {
      localStorage.setItem('token',data.token)
    })
  })

</script>
